[workspace]
members = ["crates/timeseries-table-core", "crates/timeseries-table-datafusion"]
resolver = "3"

[workspace.lints.rust]
missing_docs = "deny"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
